<!DOCTYPE html> <!--without this the dropdown buttons only are half height-->
<html lang="en">
<head>
    <title>Hangons - A Hangouts.json parser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="A completely client side Hangouts.json parser to convert your json file from hangouts to a preferred format">
    <meta name="author" content="David Byrne">
    <meta name="theme-color" content="#1AA260">
    <link rel="icon" sizes="192x192" type="image/png" href="images/favicon.png">
    
	<script src="https://bootswatch.com/bower_components/jquery/dist/jquery.js"></script>
	<script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="hangons.js"></script>
    
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="hangons.css" />
</head>
<body  ng-App="hangons" ng-controller="mainController" id="body">
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/Hangons3.png" class="pull-left " id="logo" alt="Hangons Logo">
                <!--Source for logo: http://romannurik.github.io/AndroidAssetStudio/ -->
                <a class="navbar-brand" href="index.html">Hangons</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="faq.html">FAQ</a></li>
                </ul>
            
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/David-Byrne/Hangons">Github</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
	<div id="mainContent">
	    First go to <a href="https://takeout.google.com/settings/takeout"  target="_blank">Google Takeout</a> and download your 
        hangouts data. Extract the Hangouts.json file from the zip and upload it here.
	
        <span class="input-group-btn">
            <span class="btn btn-default btn-file colouredButton">
                Browse<input type="file"  id="fileinput">
                <input type="text" class="form-control brightText" disabled="" id="fileNameTextBox" readonly>
            </span>
        </span>
        
        <hr>
        
        Now choose what format you'd like it in. The dropdown box gives more information about the file types.<br>
        <div class="btn-group spacedButton">
            <a href="#" class="btn btn-default disabled colouredButton" id="jsonBtn" >Simplified JSON</a>
            <a href="#" class="btn btn-default dropdown-toggle colouredButton dropdown" data-toggle="dropdown" aria-expanded="false"><span class="caret brightText"></span></a>
            <span class="dropdown-menu dataDescription">
                <span  class="dataDescription">
                <abbr title="JavaScript Object Natation">JSON</abbr> array of conversation objects and each conversation contains an array of participants and an 
                array of message objects. Each message object has a sender, time and content attribute.
                </span>
            </span>
        </div>

        <div class="btn-group spacedButton">
            <a href="#" class="btn btn-default disabled colouredButton" id="txtBtn">Plain Text</a>
            <a href="#" class="btn btn-default dropdown-toggle colouredButton  dropdown" data-toggle="dropdown" aria-expanded="false"><span class="caret brightText"></span></a>
            <span class="dropdown-menu dataDescription">
                A plain .txt file with the sender, time, date and content with one message's attributes per line.
            </span>
        </div>
        
        <div class="btn-group spacedButton">
            <a href="#" class="btn btn-default disabled colouredButton" id="csvBtn">Comma Separated Value</a>
            <a href="#" class="btn btn-default dropdown-toggle colouredButton dropdown" data-toggle="dropdown" aria-expanded="false"><span class="caret brightText"></span></a>
            <span class="dropdown-menu dataDescription">
                A .csv file with the sender, time, date and content separated with commas. One message is printed per line.
            </span>
        </div>
        
        <div class="btn-group spacedButton">
            <a href="#" class="btn btn-default disabled colouredButton" id="htmlBtn">HTML</a>
            <a href="#" class="btn btn-default dropdown-toggle colouredButton dropdown" data-toggle="dropdown" aria-expanded="false"><span class="caret  brightText"></span></a>
            <span class="dropdown-menu  dataDescription">
                A <abbr title="Hyper Text Markup Language">HTML</abbr> file with the messages styled like the hangouts interface you're used to.
            </span>
        </div>

        <hr>
        
        <span ng-repeat="file in angFiles track by $index">
            <span class="fileButton">
			<a href="#" class="btn btn-default colouredButton fileButton" ng-click="angDownload(file.name+file.type, file.messages )"> {{file.name+file.type}}</a>
		    <!--<a href="#" class="btn btn-default colouredButton fileButton" ng-click="angDownload(file.participants+file.type, file.messages )"> {{file.participants.toString()+file.type}}</a>-->
            </span>
        </span>
        <!--<span ng-click="testAngular()"> X </span>-->
    </div>
</body>
</html>